<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Title</title>
</head>

<body>
	<th:block layout:fragment="content">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">panier</h1>
		</div>

		<div class="row">
			<div class="card shadow col-md-12">
                        <div class="card-header ">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>quantity</th>
                                            <th>price</th>
                                            <th style="width:45px">Actions</th>                                         
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr th:each="panier: ${paniers}">
									/* save lel livres  */       <td th:text="${panier.name}"></td>							
									/* textfield ou scroll */       <td th:text="${panier.quantite_ajouter}"></td>
									       <td th:text="${panier.somme_ajoute}"></td>
									       <td>
									/* edit panier/ edit categorie*/       <a th:href="@{/edit-panier?id_panier=}+${panier.id}" class="fas fa-edit" title="edit"></a>					      
										   <a class="fas fa-trash"  th:attr="data-target='#modal-delete'+${panier.id}" data-rel="tooltip" title="delete" data-toggle="modal"></a>					   
										   
										   
										   
										   
										   <div th:id="modal-delete+${panier.id}" class="modal fade" tabindex="-1">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header no-padding">
														<div class="table-header">delete book</div>
													</div>
													<div class="modal-body no-padding">are you sure to delete this book from basket</div>
													<div class="modal-footer no-margin-top">
														<button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
															<i class="ace-icon fa fa-times"></i> Close
														</button>
										/* delete panier*/				<a class="btn btn-sm btn-danger pull-right" th:href="@{/delete-panier?id_panier=}+${panier.id}"> <i
															class="ace-icon fa fa-times">delete</i>
														</a>
													</div>
												</div>
											</div>
										</div>
										</td>
									    </tr> 
                                    </tbody>
                                </table>
                                
                            </div>
                            <button type="submit" class="btn btn-primary btn-circle">order</button>
                        </div>
                    </div>

                </div>

	</th:block>
</body>

</html>