<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Task Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body id="page-top">
	<div id="wrapper">
		<div th:replace="fragements/side :: side">side</div>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div th:replace="fragements/header :: header">header</div>
				<div class="container-fluid">
					<div layout:fragment="content">content</div>
				</div>
				<div th:replace="fragements/footer :: footer">footer</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

	<!-- Page level custom scripts -->
	<!--   <script th:src="@{/js/demo/chart-area-demo.js}"></script> -->
	<!--   <script th:src="@{/js/demo/chart-pie-demo.js}"></script> -->

	<!-- 	<script th:src="@{/jquery.min.js}"></script> -->
</body>

</html>