#userArchor{
	-fx-background-color: linear-gradient(to top right, #172235, #838FA3);
}

.separator .line {
    -fx-border-width: 0.1;    
}
#mailField{
	-fx-background-color: transparent ;
	-fx-text-fill: white;
}

#sendButton{
	-fx-background-color: transparent ;
	-fx-border-style : solid;
	-fx-border-width: 2;
	-fx-text-fill: white;
	-fx-border-radius: 1.5em; 
	-fx-border-color: #838FA3;
	-fx-cursor: HAND;	
}
#sendButton:hover{
	-fx-background-color: transparent ;
	-fx-border-style : solid;
	-fx-border-width: 2;
	-fx-text-fill: white;
	-fx-border-radius: 1.5em; 
	-fx-border-color: #EEF0F2;
	-fx-cursor: HAND;	
}
#cancelButton{
	-fx-background-color: transparent ;
	-fx-border-style : solid;
	-fx-border-width: 2;
	-fx-text-fill: white;
	-fx-border-radius: 1.5em; 
	-fx-border-color: #838FA3;
	-fx-cursor: HAND;	
}
#cancelButton:hover{
	-fx-background-color: transparent ;
	-fx-border-style : solid;
	-fx-border-width: 2;
	-fx-text-fill: white;
	-fx-border-radius: 1.5em; 
	-fx-border-color: #EEF0F2;
	-fx-cursor: HAND;	
}
#textArea{
	-fx-background-color: transparent ;
	-fx-text-fill: white;
}