<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Title</title>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
		
		</div>

		<!-- Content Row -->
		<div class="row">

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Tasks</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800" >200</div>
							</div>
							<div class="col-auto">
								<i class="fas  fa-plus-square fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-success text-uppercase mb-1">TODO Tasks</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
							</div>
							<div class="col-auto">
								<i class="fas  fa-clipboard fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">DONE</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-check-square fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-info shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-info text-uppercase mb-1">ALL Tasks</div>
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">500</div>
									</div>

								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" >
			<table class="col-md-12">
				<thead>
					<tr style="width: 100%">
						<th class="text-center" style="width: 33%;">NEW</th>
						<th class="text-center" style="width: 33%">TODO</th>
						<th class="text-center" style="width: 33%">DONE</th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<td>
						
							<div class="col-lg-12">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-secondary">
										<h6 class="m-0 font-weight-bold text-white"></h6>
										<div class="dropdown no-arrow">
											<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"> <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
												<div class="dropdown-header">Actions:</div>
												<a class="dropdown-item">Todo</a> 
												
											</div>
										</div>
									</div>
									<!-- Card Body -->
									<div class="card-body"></div>
								</div>
							</div>
						</td>
						<td>
							<div class="col-lg-12">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-warning">
										<h6 class="m-0 font-weight-bold text-dark">Dropdown Card Example</h6>
										<div class="dropdown no-arrow">
											<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"> <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
												<div class="dropdown-header">Actions:</div>
												<a class="dropdown-item">Done</a>
											</div>
										</div>
									</div>
									<!-- Card Body -->
									<div class="card-body"></div>
								</div>
							</div>
						</td>
						<td>
							<div class="col-lg-12">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-success">
										<h6 class="m-0 font-weight-bold text-dark">Dropdown Card Example</h6>
										
									</div>
									<!-- Card Body -->
									<div class="card-body"></div>
								</div>
							</div>
						</td>



					</tr>

				</tbody>
			</table>

		</div>



	</th:block>
</body>

</html>