<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Title</title>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Edit User</h1>
		
		</div>

		<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-11">
                                    <form role="form" th:object=${users} th:action="@{edit-user}" method="post">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" th:field="*{email}" placeholder="User email">
                                            
                                        </div>
                                        
                                        
                                        
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" rows="3" th:field="*{name}">
                                        </div>   
                                        <div class="form-group">
                                            <label>Last name</label>
                                            <input class="form-control" rows="3" th:field="*{last_name}">
                                        </div> 
                                        <div class="form-group">
                                            <label>Number </label>
                                            <input class="form-control" rows="3" th:field="*{tel}">
                                        </div>  
                                        <div class="form-group">
                                            <label>Carte de paiement </label>
                                            <input class="form-control" rows="3" th:field="*{carte_paie}">
                                        </div>   
                                        <div class="form-group">
                                            <label>Active </label>
                                            <input class="form-control" rows="3" th:field="*{active}">
                                        </div>                                       
                                        
                                        <div class="form-group">
                                            <label>Role</label>
                                            <select class="form-control"  th:field="*{role}" >
                                                <option th:each="roleUser: ${roles}" th:value="${roleUser.id}" th:text="${roleUser.code}"></option>
                                                
                                                
                                            </select>
                                        </div>
                                        
                                        <input type="hidden" th:field="*{id}">
                                        <button type="submit" class="btn btn-primary btn-circle">Save</button>
                                        <button type="reset" class="btn btn-danger btn-circle">Reset</button>
                                    </form>
                                </div>
                                
                            </div>
                           
                        </div>
                    
                    </div>
                 
                </div>
          
            </div>

	</th:block>
</body>

</html>